<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="row">
				<input type="text" ng-model="term" class="form-control" />
				<p>{{term}}</p>

				<button ng-click="showAlert()" class="btn btn-warning">Alert</button>
				<hr>
			</div>
			<div class="row">
				<current-weather city="San Francisco"></current-weather>
				<hr>
			</div>
			<div class="row">
				<div ng-controller="TodoIndexCtrl">
					<h3>To Do's</h3>
					<form name="todo_form" ng-submit="todo()">
						<div class="form-group">
						<label>New Todo</label>
						<input class="form-control" type="text" name="title" ng-model="todo.title" required />
						</div>
						<button ng-click="appendList()" class="btn btn-primary" type="submit" ng-disabled="todo_form.title.$invalid">Add New Todo</button>
					</form>
					<h4>You have 
						<ng-pluralize count="todos.length"
				            when="{'0': 'nothing to do.',
				            	'one': 'one thing to do.',
				            	'other': '{} things to do.'}">
						</ng-pluralize>
					</h4>
					<ul>
						<ng-include src="'templates/list.html'"></ng-include>
					</ul>					
				</div> <!-- controller end -->
			</div> <!-- row end -->
		</div> <!-- end col-sm-4 -->
	</div>
</div>